.header {
    margin-top: 10px;
}
.orange {
    border-color : orange !important;
}
.orange .active a{
    background-color: orange !important;
    color : white !important;
}
.orange a {
    color : orange !important;
}
.orange .panel-heading {
    background-color: orange;
    border-color: orange ;
}
.orange .panel-body {
    border-color : orange;
}
.orange .panel-body a {
    color : white !important;
}